<div class="card my-3">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h3>Categories <small>({{categoryList?.length}} items.)</small></h3>
      </div>
      <div class="col text-right">
        <button class="btn btn-lg btn-outline-primary" (click)="openCategoryModal('ADD')">Add</button>
      </div>
    </div>

  </div>
</div>

<table class="table table-bordered table-hover ">
  <thead class="thead-light">
    <tr class="text-center">
      <!-- <th scope="col">#</th> -->
      <th scope="col">categoryID</th>
      <th scope="col">categoryName</th>
      <th scope="col">createdDate</th>
      <th scope="col">createdBy</th>
      <th scope="col">updatedDate</th>
      <th scope="col">updatedBy</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of categoryList; index as i">
      <!-- <th scope="row"> </th> -->
      <td>{{c.categoryID}}</td>
      <td>{{c.categoryName}}</td>
      <td>{{c.createdDate}}</td>
      <td>{{c.createdBy}}</td>
      <td>{{c.updatedDate}}</td>
      <td>{{c.updatedBy}}</td>
      <td class="text-center">
        <button class="btn btn-outline-primary" (click)="openCategoryModal('EDIT',c)">Edit #{{i+1}}</button>
        <!-- <button class="btn btn-lg btn-outline-primary" (click)="openCategory('DELETE',c.categoryID)">Delete</button> -->
      </td>
    </tr>
  </tbody>
</table>
